<!-- Using PBE Logo for home-link -->
<nav class="navbar navbar-expand-md navbar-static-top bg-color navbar-dark">
  <%= link_to image_tag("logo.png", width: 100, alt: "Professional Brotherhood of Engineers logo"), events_path, class: "navbar-brand mr-auto"%>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-content">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Path to be replaced with actual model paths for resourceful routes!!! -->
  <div class="collapse navbar-collapse" id="navbar-collapse-content">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Events", events_path, class: "nav-link nav-text" %>
      </li>
      <li class="nav-item">
        <!-- FIXME: Update with proper user routes once made -->
        <%= link_to "Members", events_path, class: "nav-link nav-text" %>
      </li>
      <li class="nav-item">
        <!-- FIXME: Update with proper user routes once made -->
        <%= link_to "My Profile", events_path, class: "nav-link nav-text" %>
      </li>
      <li class="nav-item">
        <% if session[:user_id] %>
          <%= link_to "Logout", access_logout_path, class: "nav-link nav-text" %>
        <% else %>
          <%= link_to "Login", access_login_path, class: "nav-link nav-text" %>
        <% end %>
      </li>
    </ul>
  </div>

</nav>