<%= render(:partial => '/global_partials/navbar') %>
<%= render(:partial => '/global_partials/flash_notices') %>

<style>
  html, body {
    height: 100%;
    margin: 0;
  }
</style>

<div class="container" style="height:100%;">
  <br />
  <h1>PBE Members</h1><br />
  <div style="height:75%;overflow:auto;">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name + ' ' + user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
