<!doctype html>
<html>

<header>
   <style>
     table, th, td {
       border: 1px solid black;
     }
   </style>
</header>

<body>

<!--

Current customer attributes:
- first_name
- last_name
- Email
- role

Actions:
- Show
- Delete
- Update role (e.g. make user an admin)

-->

<%= render(:partial => '/global_partials/navbar') %>

<%= flash[:notice] %>

<h1>Current Members</h1>
<table>
	<tr>
    	<th>Name</th>
    	<th>Email</th>
    	<th>Role</th>
    	<th>Actions</th>
	</tr>
	<% @users.each do |u| %>
	<tr>
    	<td><%= u.first_name + ' ' + u.last_name %></td>
    	<td><%= u.email %></td>
    	<td><%= u.role %></td>
    	<td>
          <%= link_to 'Show', user_path(u.id) %>
          <% unless u.role == 'admin' %>
            ,<%= link_to 'Update Role', edit_user_path(u.id) %>,
            <%= link_to 'Delete', delete_user_path(u.id) %></td>
          <% end %>
	</tr>
	<% end %>
</table>

</body>

</html>
