<%= render(:partial => '/global_partials/navbar') %>

<style>
  html, body {
    height: 100%;
    margin: 0;
  }
</style>

<div class="container" style="height:100%">
  <h1>Member Info</h2>
  <table class="table">
    <tr>
      <th>Name</th>
      <td><%= @user.first_name + ' ' + @user.last_name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Role</th>
      <td><%= @user.role %></td>
    </tr>
  </table>


  <h2>Events Attended</h2>
  <div style="height:50%;overflow:auto;">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Mandatory</th>
        </tr>
      </thead>
      <tbody>
        <% @user_events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.date.strftime('%a, %b %-d, %Y, %l:%M %P') %></td>
            <td><%= event.mandatory %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

