<%= render(:partial => '/global_partials/navbar') %>
<%= render(:partial => '/global_partials/flash_notices') %>

<style>
  html, body {
    height: 100%;
    margin: 0;
  }
</style>

<div class="container" style="height:100%;">
  <h1>Member Info</h2>
  <table class="table">
    <tr>
      <th>Name</th>
      <td><%= @user.first_name + ' ' + @user.last_name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Role</th>
      <td><%= @user.role %></td>
    </tr>
  </table>

  <% if @user.id == @session_user.id or @session_user.role == 'admin' %>
    <button class="btn btn-secondary" data-toggle="collapse" data-target="#password-change">Change Password</button>
    <div id="password-change" class="collapse">
      <%= form_for @password_change, url: users_change_password_path(user_id: @user.id), method: :post do |f| %>
        <table class="table">
          <% unless @session_user.role == 'admin' %>
          <tr>
            <th><%= f.label :old_password %></th>
            <td><%= f.password_field :old_password, required: true %></td>
          </tr>
          <% end %>
          <tr>
            <th><%= f.label :new_password %></th>
            <td><%= f.password_field :new_password, required: true %></td>
          </tr>
          <tr>
            <th><%= f.label :new_password_confirmation, 'Confirm new password' %></th>
            <td><%= f.password_field :new_password_confirmation, required: true %></td>
          </tr>
        </table>
        <%= f.submit("Submit", class: "btn btn-secondary") %>
      <% end %>
    </div>
    <br/><br/>
  <% end %>

  <h2>Events Attended</h2>

  <div style="height:50%;overflow:auto;">
  <table class="table">
    <thead>
      <tr>
        <th><%= link_to "Event", :sort => 'title'%></th>
        <th><%= link_to "Date", :sort => 'date'%></th>
        <th><%= link_to "Mandatory", :sort => 'mandatory'%></th>
      </tr>
    </thead>
    <tbody>
      <% @user_events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.date.strftime('%a, %b %-d, %Y, %l:%M %P') %></td>
          <td><%= event.mandatory %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

