<!doctype html>
<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <%= render(:partial => 'flash_notices') %>
  <%= render(:partial => 'login_logout') %>
  <table>
    <tr>
      <th>Event</th>
      <th>Date / Time</th>
      <th>Action</th>
    </tr>
	
    <% @events.each do |e| %>
      <tr>
        <td><%= e.title %></td>
        <td><%= e.date %></td>
        <td>
          <%= link_to 'Show', event_path(e.id) %>
          <% if @user_role == "admin" %>
            <%= link_to 'Edit', edit_event_path(e.id) %> 
            <%= link_to 'Delete', delete_event_path(e.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</body>
</html>


