<%= render(:partial => '/global_partials/navbar') %>
<%= render(:partial => '/global_partials/flash_notices') %>
<div class="container">

  <%= render(:partial => '/global_partials/login_logout') %>

  <br />
  <h1>Upcoming Events</h1><br />
  <table class="table">
    <tr>
      <th>Event</th>
      <th>Date / Time</th>
      <th>Mandatory</th>
      <th>Action</th>
    </tr>

    <% @events.each do |e| %>
    <tr>
      <td><%= e.title %></td>
      <td><%= e.date %></td>
      <td><%= e.mandatory %></td>

      <td>
        <%= link_to 'Show', event_path(e.id) %>
        <% if @user_role == 'user' %>
        <%= link_to 'Sign In', events_mark_attendance_path(:event => e.id), method: :post %>
        <% elsif @user_role == 'admin' %>
        <%= link_to 'Edit', edit_event_path(e.id) %>
        <%= link_to 'Delete', delete_event_path(e.id) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
