  <%= render(:partial => '/global_partials/navbar') %>

  <div class="container">
    <br />
    <h2>Event Information</h2><br />
    <table class="table">
      <tr>
        <th>Event name</th>
        <td><%= @event_record.title %></td>
      </tr>
      <tr>
        <th>About</th>
        <td><%= @event_record.description %></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><%= @event_record.date.to_time() %></td>
      </tr>
      <tr>
        <th>Date/Time</th>
        <td><%= @event_record.date %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= @event_record.location %></td>
      </tr>
      <tr>
        <th>Mandatory</th>
        <td><%= @event_record.mandatory %></td>
      </tr>
    </table>
    <% if @user_role == "admin" %>
    <br />
    <h2>Attendees</h2><br />
    <table class="table">
      <% @attendees.each do |a| %>
      <tr>
        <th>Name</th>
        <td><%= "#{a.first_name} #{a.last_name}"%>
        <th>Email</th>
        <td><%= a.email%>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>