  <%= render(:partial => '/global_partials/navbar') %>

  <div class="container">
    <br />
    <h2>Event Information</h2><br />
    <table class="table">
      <tr>
        <th>Event name</th>
        <td><%= @event_record.title %></td>
      </tr>
      <tr>
        <th>About</th>
        <td><%= @event_record.description %></td>
      </tr>
      <tr>
        <th>Date/Time</th>
        <td><%= @event_record.date.strftime('%a, %b %-d, %Y, %l:%M %P') %></td>
      </tr>
      <tr>
        <th>End Time</th>
        <td><%= @event_record.end_time.strftime('%a, %b %-d, %Y, %l:%M %P') %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= @event_record.location %></td>
      </tr>
      <tr>
        <th>Mandatory</th>
        <td><%= @event_record.mandatory %></td>
      </tr>
    </table>
    <% if @user_role == 'admin' %>
    <br />

    <button class="btn btn-secondary" data-toggle="collapse" data-target="#manual_add_list">Manually Add Attendees</button>
    <div id="manual_add_list" class="collapse">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        <% Customer.order('last_name').each do |c| %>
          <% unless @event_record.customers.include?(c) %>
          <tr>
            <td><%= "#{c.first_name} #{c.last_name}" %></td>
            <td><%= c.email %></td>
            <td><%= link_to 'Add Sign In', events_manual_add_path({user_id: c.id, event_id: @event_record.id}), method: :post %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <h2>Attendees</h2><br />
      <table class="table">
        <% @attendees.each do |a| %>
        <tr>
          <th>Name</th>
          <td><%= "#{a.first_name} #{a.last_name}"%></td>
          <th>Email</th>
          <td><%= a.email%></td>
          <td><%= link_to 'Revoke Sign In', events_revoke_attendence_path({customer: a.id, event: @event_record.id}), method: :post, class: "btn btn-secondary" %></td>
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>
